<!-- blockquote{
    font-family: Arial, Times New Roman, sans-serif;
}  

 p {font-size:12pt}
 
h1,h2,h3,h4,h5,h6{
    text-decoration-line: underline;
    text-transform: uppercase;
}

p{
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

ul{
    
    background-image: url(list.gif);
    background-position: center;
    
}

ol{
    list-style-type: decimal;
}

-->